[submodule "dsdl"]
	path = dsdl
	url = git@github.com:WshgL/public_regulated_data_types.git
	branch = px4-v1.12.3
[submodule "libuavcan/dsdl_compiler/pyuavcan"]
	path = libuavcan/dsdl_compiler/pyuavcan
	url = git@github.com:WshgL/pyuavcan.git
